<li class="masthead__menu-item language-selector">
    <button class="nav-link dropdown-toggle" type="button" id="languageDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        🌐
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageDropdown">
        {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
        {% for page in pages %}
        <a class="dropdown-item" href="{{ page.url }}" lang="{{ page.lang }}">{{ page.lang | upcase }}</a>
        {% endfor %}
    </div>
</li>