.language-selector {
    .dropdown-menu {
        min-width: 100px;
        padding: 0.5rem 0;
    }
    
    .nav-link {
        padding: 0.5rem 1rem;
        font-size: 0.9em;
    }
}
@import "minimal-mistakes/custom";